.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }
  body{
       
    background-image: url(https://pbs.twimg.com/media/EuWJwAkXUAIBu-y?format=png&name=small);
}
*{
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  
  html {
    display: table;
    margin: auto;
  }
  
  body{ 
     padding: 30px 150px; 
     margin:auto;
     width: 100%; 
    
  }
  header{
  
    width: 100%;
    margin: 30px;
   
  }
 #salmon
 {
     height: 100px;
     width: 200px;
     position: relative;
     bottom: 50px;
 }
 #logo{
     height: 150px;
     width: 500px;    
     position: relative;
     bottom: 50px;

 }nav ul li a{
text-decoration: none;
padding: 10px;
color: brown;
 }
 nav ul li {
     float: right;
     font-weight: bold;
     font-size: x-large;
     position: relative;
     right: 0px;
     border:3px solid;
     border-radius: 8px;
     
 }
 h3{

    margin: 0;
    font-size: 100px;
    font-family: 'Bourton Hand Base';
    font-weight: 700;
    color: #aa0061;
    letter-spacing: -5px;
    line-height: 0.9;   
     text-align: center;
    -webkit-font-smoothing: antialiased;
 }
 p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: 400 16px/1.4 'brandon';
    -webkit-font-smoothing: antialiased;    
    color: #584446;
    font-size: 32px;
    text-align: center;
}
#sub1{
    border:3px solid;
    border-radius: 8px;
 
}
#sub2{
    border:3px solid;
    border-radius: 8px;
    height: 255px;
    width: 400px;  
}
#sub3{
    border:3px solid;
    border-radius: 8px;
    height: 255px;
    width: 300px;
}
#sub4{
    border:3px solid;
    border-radius: 8px;
    height: 255px;
    width: 300px;
}
#sub5{
    border:3px solid;
    border-radius: 8px;
    height: 255px;
    width: 400px;  
}
#sub6{
    border:3px solid;
    border-radius: 8px;
    height: 255px;
    width: 300px;
}
#map { 
    width: 50%; 
    height: 300px; 
    background-color: grey; 
    float: left;
    
  } 
h5{
    text-align: center;
    color: #584446;
    font: 400 16px/1.4 'brandon';
    -webkit-font-smoothing: antialiased;    
    font-size: 32px;
}
h4{
    position: relative;
    left: 20px;
}
.sociallinks img
{
    display: inline-block;

}
#fac{
    height: 50px;
    width: 50px;
    padding: 0px;
    position: relative;
    left:  5px;
    right:  5px;

}
#ins{
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 5px;
    right: 5px;
    left:  5px;
}
h2{
    color: #584446;
    font-size: 32px;
    font: 400 16px/1.4 'brandon';
    -webkit-font-smoothing: antialiased;    
    font-size: 30px;
    position: relative;
    left: 8px;
}

#twi{
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 5px;
    right: 5px;
    left:  8px;
}