body{
    width:1130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-image: url(https://pbs.twimg.com/media/EuWJwAkXUAIBu-y?format=png&name=small);
}
div {
    background-color:rgba(26, 96, 87, 0.96);
    text-align: left;
    font-family monospace;
    font-weight: bold;
    border:double; 
    border-width: 5px;
    content: 8px;
    margin-bottom:50px;
    margin-top:50px;
    width:635px;
    color: #BFA42C;
    padding-bottom: 50px;
    padding-right:50px;
}
table {
    border: solid 1px black;
}

tr , th , td {
    border: black 1px solid;
}
#img1 {
    width: 200px;
    height: 100px;
}