body{
    width:1130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-image: url(https://pbs.twimg.com/media/EuWJwAkXUAIBu-y?format=png&name=small);
}
div {
    background-color:rgba(26, 96, 87, 0.96);
    text-align: left;
    font-family monospace;
    font-weight: bold;
    border:double; 
    border-width: 5px;
    content: 8px;
    margin-bottom:50px;
    margin-top:50px;
    width:635px;
    color: #BFA42C;
    padding-bottom: 50px;
    padding-right:50px;
}
table {
    border: solid 1px black;
}

tr , th , td {
    border: black 1px solid;
}
#img1 {
    width: 200px;
    height: 100px;
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(26, 96, 87, 0.96);
    border-radius: 6px;
  }
  input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(26, 96, 87, 0.96);
    border-radius: 6px;
  }
  input[type=submit] {
    background-color: rgba(26, 96, 87, 0.96);
    border:3px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  label , legend{
      font-weight: bold;
  }
